<div class="row">
  <!-- Nav (my account, post, calendar, faq...) -->
  <div class="col-md-3" id="leftbar">

    <nav>
      <ul>
        <li>{{#link-to 'index'}} CL {{/link-to}}</li>
        <li>{{#link-to 'index'}} stuff {{/link-to}}</li>
        <li>{{#link-to 'index'}} stuff {{/link-to}}</li>
      </ul>
    </nav>

  </div>

  <!-- Portland, Oregon categories -->
  <div class="col-md-7" id="center">
    other stuff
  </div>

  <!-- All Oregon locations -->
  <div class="col-md-2" id="rightbar">
    more stuff
  </div>

</div>
