<div id="global-header">
  <span class="header-logo">{{#link-to 'index'}}SL{{/link-to}}</span>
</div>

<section class="body" id="notice">
  <div>
    <em>IMPORTANT - FURTHER ACTION IS REQUIRED TO COMPLETE YOUR REQUEST !!!</em>
    <br>
    <br>
    <em>You should receive an email shortly</em>, with a link to:
    <ul>
      <li>publish your ad</li>
      <li>edit (or confirm an edit to) your ad</li>
      <li>verify your email address</li>
      <li>delete your ad</li>
    </ul>
  </div>

  <div>
    Email sent to: ????
  </div>

  <div>
    <p>If you don't receive this email, please consult our help pages</p>
    <p>Your email provider might misfile this mail as spam. <em>Chcek your spam folders.</em></p>
  </div>

  {{#link-to 'listing' model.id}}View post{{/link-to}}


</section>

<footer>
  <ul class="slfooter">
    <li>&#169; 2015 schmaigslist</li>
    <li>{{#link-to 'index'}}doe{{/link-to}}</li>
    <li>{{#link-to 'index'}}rae{{/link-to}}</li>
    <li>{{#link-to 'index'}}mi{{/link-to}}</li>
    <li>{{#link-to 'index'}}fa{{/link-to}}</li>
    <li>{{#link-to 'index'}}so{{/link-to}}</li>
    <li>{{#link-to 'index'}}la{{/link-to}}</li>
    <li>{{#link-to 'index'}}ti{{/link-to}}</li>
    <li>{{#link-to 'index'}}do{{/link-to}}</li>
  </ul>
</footer>
